/* GENERAL PAGE STYLING */
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    background: #F5FAFF;
    color: #1A1A1A;
}

/* HEADER */
header {
    background: #004AAD;
    color: white;
    padding: 15px 0;
    text-align: center;
    letter-spacing: 1px;
}

/* header .logo*/
header .logo {
    width: 120px;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
}

/* NAVIGATION BAR */
nav {
    background: #38B6FF;
    padding: 12px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 18px;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.3s;
}

nav ul li a:hover {
    background: white;
    color: #004AAD;
}

/* MAIN SECTION */
section {
    padding: 30px 50px;
}

/* SUBHEADINGS */
h2, h3 {
    color: #004AAD;
}

/* TABLE STYLING */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    border: 1px solid #DDE8F0;
    padding: 14px;
    text-align: left;
}

th {
    background: #E3F3FF;
    font-weight: bold;
}

/* FOOTER */
footer {
    background: #004AAD;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

