body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.slideshow-container {
    position: relative;
    max-width: 600px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}

.fade {
    animation: fadeEffect is ease-in-out;
}

@keyframes fadeEffect {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}